{{ .Store.Set "pagesToDisplay" (dict)}} 
{{ .Store.Set "maxRelativeArticles" .Site.Params.maxRelativeArticlesToDisplay }} 
{{ .Store.Set "allTags" (slice)}}
{{ $currentPage := . }} 
{{ if .Params.tags }} 
  {{ $currentPageTags := .Params.tags }} 
    {{ range $key, $value := .Site.Taxonomies.tags }} 
      {{ range $currentTag := $currentPageTags }} 
        {{ if eq (strings.ToLower $key) (strings.ToLower $currentTag) }} 
          {{ range $value.Pages }} 
            {{ $u := urls.Parse $currentPage.Permalink }} 
            {{ $u2 := urls.Parse .RelPermalink }} 
              {{ if ne $u.RequestURI $u2.RequestURI }} 
                {{ if gt (page.Store.Get "maxRelativeArticles") 0 }} 
                  {{ page.Store.Set "maxRelativeArticles" (sub (page.Store.Get "maxRelativeArticles") 1) }} 
                  {{ $pageDict := merge (page.Store.Get "pagesToDisplay") (dict .Permalink (dict "linkTitle" .LinkTitle "description" .Description)) }} 
                  {{ page.Store.Set "pagesToDisplay" $pageDict }} 
                  {{ end }} 
                {{ end }} 
              {{ end }} 
            {{ end }} 
          {{ end }} 
        {{ end }} 
      {{ end }}
<div style="padding: 10px 10px">
  <h2 style="font-weight: 700">Continue reading:</h2>
  <div class="row gy-3">
    {{ if len (.Store.Get "pagesToDisplay") }}
    {{ range $key, $value := .Store.Get "pagesToDisplay" }}
    <div class="col-sm-12 col-md-6 col-lg-4 me-auto" style="padding: 15px;">
      <a href="{{ $key }}?from=continue-reading" class="continue-reading-link"
        style="text-decoration: none;">
        <div
          style="padding: 35px 25px; background-color: rgb(240,240,240); height: 170px;">
          <div>
            <h3 class="card-title">{{ $value.linkTitle }}
            </h3>
            <p class="text">
              {{ $value.description }}</p>
          </div>
        </div>
      </a>
    </div>
    {{ end }}
    {{ end }}
    {{ range $page := (shuffle ((where .Site.RegularPages "Section" "docs"))) }}
    {{ if len (page.Store.Get "pagesToDisplay") }}
    {{ range $key, $value := page.Store.Get "pagesToDisplay"}}
    {{ if eq $page.Permalink $key }}
    {{ break }}
    {{ end }}
    {{ if gt (page.Store.Get "maxRelativeArticles") 0 }}
    {{ page.Store.Set "maxRelativeArticles" (sub (page.Store.Get "maxRelativeArticles") 1) }}
    <div class="col-sm-12 col-md-6 col-lg-4 me-auto" style="padding: 15px;">
      <a href="{{ $page.Permalink }}?from=continue-reading" class="continue-reading-link"
        style="text-decoration: none;">
        <div
          style="padding: 35px 25px; background-color: rgb(240,240,240); height: 170px; overflow: hidden;">
          <div>
            <h3 class="card-title">{{ $page.LinkTitle }}
            </h3>
            <p class="text">
              {{ $page.Description }}</p>
          </div>
        </div>
      </a>
    </div>
    {{ break }}
    {{ end }}
    {{ end }}
    {{ else }}
    {{ range $key, $value := seq (page.Store.Get "maxRelativeArticles")}}
    {{ if gt (page.Store.Get "maxRelativeArticles") 0 }}
    {{ page.Store.Set "maxRelativeArticles" (sub (page.Store.Get "maxRelativeArticles") 1) }}
    <div class="col-sm-12 col-md-6 col-lg-4 me-auto" style="padding: 15px;">
      <a href="{{ $page.Permalink }}?from=continue-reading" class="continue-reading-link"
        style="text-decoration: none;">
        <div
          style="padding: 35px 25px; background-color: rgb(240,240,240); height: 170px; overflow: hidden;">
          <div>
            <h3 class="card-title">{{ $page.LinkTitle }}
            </h3>
            <p class="text">
              {{ $page.Description }}</p>
          </div>
        </div>
      </a>
    </div>
    {{ break }}
    {{ end }}
    {{ end }}
    {{ end }}
    {{ end }}
  </div>
</div>
