{{ $icon_path := .Get "icon_path" -}} {{ $title := .Get "title" -}} {{
$description := .Get "description" -}} {{ $col_id := .Get "col_id" -}} {{ $link
:= .Get "link" -}}

<div class="option-primary-l -bg-primary-light">
  <div role="presentation">
    {{ with resources.Get $icon_path -}} {{ ( . | minify).Content | safeHTML -}}
    {{ end -}}
  </div>

  <div class="title" role="heading" aria-level="4">{{ $title }}</div>

  {{ if $description -}}
  <p class="use-case-card-description">{{ $description }}</p>
  {{ end -}}


    {{ partial "pages-with-same-tag.html" (dict "sectionTitle" $title "context" .) }}

</div>
