bin/

# Ignore python cache files
**/__pycache__/

# Local Netlify folder
.netlify
# Added by goreleaser init:
dist/
release_assets/

# Dynamic versioning file (generated during CI/CD)
clients/python/agentic-sandbox-client/VERSION

# Temporary folders
tmp/
temp/
