+++
title = "Agent Sandbox"
linkTitle = "Agent Sandbox"
description = "Agent Sandbox is a cloud native controller for sandboxes"
+++


{{< blocks/cover title="Agent Sandbox" subtitle="Build Agents in a Safer Environment" color="black" height="full" >}}
<div class="mx-auto">
	<div class="container">
		<a class="link-card" href="https://github.com/kubernetes-sigs/agent-sandbox">
			<p class="title">
				GitHub
			</p>
			<p class="subtitle">
				View Source Code
			</p>
		</a>
		<a class="link-card" href="/docs">
			<p class="title">
				Documentation
			</p>
			<p class="subtitle">
				Read and Deploy
			</p>
		</a>
	</div>
	{{< blocks/link-down color="light" id="description" >}}
</div>
{{< /blocks/cover >}}

<a id="description"></a>
{{% blocks/lead color="black"%}}
<h1 class="text-center">Agent Sandbox provides a secure, and isolated execution layer to safely deploy autonomous AI agents on Kubernetes that generate and run untrusted code at scale.</h1>
<!-- <div class="video-card">Placeholder</div> -->
<div class="info-container">
  <div class="info-card">
    <p class="title">Enable Complex Agentic Workloads</p>
    <p class="description">Safely execute arbitrary, untrusted code in a fully isolated environment to enable high-risk applications like stateful code interpretation, agentic web browsing, complex "computer use" tasks, and sophisticated data analysis</p>
  </div>
  <div class="info-card">
    <p class="title">Decoupled Isolation. Built for Choice</p>
    <p class="description">Interoperability is core to Agent Sandbox with a standardized Kubernetes API that fully decouples the execution layer from the underlying isolation technology. This abstraction supports various backends, including gVisor and Kata Containers, allowing you to select the isolation method that perfectly aligns with your specific security, performance, and workload needs</p>
  </div>
</div>
{{% /blocks/lead %}}

{{< blocks/section color="light" type="row">}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/kubernetes-sigs/agent-sandbox" %}}
We do a [Pull Request](https://github.com/kubernetes-sigs/agent-sandbox/pulls) contributions workflow on **GitHub**.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-slack" title="Connect with us" url="https://kubernetes.slack.com" %}}
Talk to contributors on [#agent-sandbox](https://kubernetes.slack.com/messages/agent-sandbox) channel

{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-envelope" title="Join the mailing group" url="https://groups.google.com/a/kubernetes.io/g/sig-apps" %}}
Join the conversation on the [mailing group](https://groups.google.com/a/kubernetes.io/g/sig-apps)
{{% /blocks/feature %}}


{{< /blocks/section >}}
