+++
title = "Agent Sandbox"
linkTitle = "Agent Sandbox"
description = "Agent Sandbox is a cloud native controller for sandboxes"
+++

{{< blocks/cover title="Welcome to Agent Sandbox" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary me-3 mb-4" href="/docs/">
		Read the docs <i class="fas fa-arrow-alt-circle-right ms-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary me-3 mb-4" href="https://github.com/volatilemolotov/agent-sandbox">
		GitHub <i class="fab fa-github ms-2 "></i>
	</a>
	<p class="lead mt-5">CHANGEME</p>
	{{< blocks/link-down color="info" id="description" >}}
</div>
{{< /blocks/cover >}}

<div id="description" ></div>

{{% blocks/lead color="primary"%}}
<h1  class="text-center">box1 .</h1>
{{% /blocks/lead %}}

{{% blocks/lead color="secondary" %}}
<h1 class="text-center">box2
</h1>
{{% /blocks/lead %}}

{{% blocks/lead color="dark" %}}
<h1 class="text-center">box3</h1>
{{% /blocks/lead %}}

{{< blocks/section color="light" type="row">}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/kubernetes-sigs/kueue" %}}
We do a [Pull Request](https://github.com/kubernetes-sigs/kueue/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-slack" title="Connect with us" url="https://kubernetes.slack.com" %}}
Talk to contributors on [#wg-batch](https://kubernetes.slack.com/messages/wg-batch) channel
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-envelope" title="Join the mailing group" url="https://groups.google.com/a/kubernetes.io/g/wg-batch" %}}
Join the conversation on the [mailing group](https://groups.google.com/a/kubernetes.io/g/wg-batch)
{{% /blocks/feature %}}


{{< /blocks/section >}}
