name: CI

on:
  pull_request:
    paths:
      - '.github/workflows/**'

jobs:
  lint-workflows:
    name: Lint Workflows
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4

      - uses: devops-actions/actionlint@v0.1.10
